{
  "openapi": "3.1.0",
  "info": {
    "title": "极数本源 聚合 API",
    "version": "1.0.0",
    "description": "极数本源 提供的全部公开 HTTP API。统一 Key、统一计费、统一限流。\n\n申请 API Key：https://apizero.cn/account/keys\n文档主页：https://apizero.cn/aidocs",
    "termsOfService": "https://apizero.cn/terms",
    "contact": {
      "name": "极数本源",
      "email": "api@zerois.cn",
      "url": "https://apizero.cn"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://apizero.cn/terms"
    }
  },
  "servers": [
    {
      "url": "https://v1.apizero.cn",
      "description": "v1 网关（生产）"
    }
  ],
  "externalDocs": {
    "description": "AI 友好的完整文档（Markdown）",
    "url": "https://apizero.cn/aidocs/llms-full.txt"
  },
  "tags": [
    {
      "name": "life",
      "description": "生活服务"
    },
    {
      "name": "ocrdata",
      "description": "文档识别"
    },
    {
      "name": "finance",
      "description": "金融数据"
    },
    {
      "name": "ai",
      "description": "AI 能力"
    },
    {
      "name": "geo",
      "description": "地理位置"
    },
    {
      "name": "kyc",
      "description": "身份核验"
    },
    {
      "name": "content",
      "description": "内容娱乐"
    },
    {
      "name": "dev",
      "description": "开发工具"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "从 https://apizero.cn/account/keys 创建"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "也可通过 URL ?key= 传递（与 X-Api-Key 二选一）"
      }
    },
    "schemas": {
      "OkEnvelope": {
        "type": "object",
        "required": [
          "code",
          "msg",
          "data",
          "request_id"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "const": 0,
            "description": "成功固定为 0"
          },
          "msg": {
            "type": "string",
            "example": "成功"
          },
          "data": {
            "description": "业务数据，结构详见各接口的 200 响应 schema"
          },
          "request_id": {
            "type": "string",
            "example": "req_abcd1234"
          }
        }
      },
      "ErrEnvelope": {
        "type": "object",
        "required": [
          "code",
          "msg"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "example": 4000
          },
          "msg": {
            "type": "string",
            "example": "参数错误"
          },
          "data": {
            "nullable": true
          },
          "request_id": {
            "type": "string",
            "example": "req_abcd1234"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "参数错误 / 校验失败",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrEnvelope"
            },
            "example": {
              "code": 4000,
              "msg": "参数错误",
              "data": null,
              "request_id": "req_xxx"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "API Key 无效或缺失",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrEnvelope"
            },
            "example": {
              "code": 4011,
              "msg": "API Key 无效",
              "data": null,
              "request_id": "req_xxx"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "QPS 超限或额度耗尽",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrEnvelope"
            },
            "example": {
              "code": 4029,
              "msg": "调用过快，请稍后再试",
              "data": null,
              "request_id": "req_xxx"
            }
          }
        }
      },
      "UpstreamError": {
        "description": "上游服务不可用",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrEnvelope"
            },
            "example": {
              "code": 5020,
              "msg": "上游服务不可用",
              "data": null,
              "request_id": "req_xxx"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "paths": {
    "/api/video-parse": {
      "get": {
        "operationId": "video_parse",
        "summary": "全平台视频元数据解析服务",
        "description": "```\n全平台视频元数据解析服务 — 专业、合规、稳定\n\n## 服务概述\n本服务通过 RESTful API 形式，将用户已能合法访问的视频/图集分享链接，\n解析为结构化的元数据信息（标题、封面、作者、原始 URL 等），\n便于开发者集成到内容审核、个人备份、学术研究、数据迁移等场景。\n\n## 核心能力\n- **覆盖广**：国内主流平台全覆盖（抖音、小红书、哔哩哔哩、快手、微博、\n  皮皮虾、最右、贴吧、即梦、可灵 AI 等），海外平台 5 站智能路由\n  （YouTube、Vimeo、Twitter 等通过 yt-dlp 兜底）\n- **响应快**：智能缓存 + 多通道竞速，平均响应 1.3 秒，QPS 可达 15\n- **稳定性**：99.7% 月度可用性（含失败重试与自动降级）\n- **合规优先**：\n  · 强制在每个响应中返回 source 来源标注字段\n  · 不存储任何原始视频/图片内容\n  · 完善的 DMCA 侵权处理通道（24 小时响应）\n  · 90 天日志保留期，超期自动清理\n\n## 适用场景\n✅ 个人内容备份（用户备份自己发布或合法授权的内容）\n✅ MCN 机构内容审核（对委托发布的内容进行合规审查）\n✅ 学术研究（高校研究机构的传播规律分析）\n✅ 合法范围内的市场数据聚合分析\n✅ 用户在自有多账号间的内容迁移\n\n## 严禁用途（违反者立即终止服务且不予退款）\n❌ 公开传播、二次发布他人受版权保护的内容\n❌ 集成到视频下载站、聚合下载工具等以下载为主功能的产品\n❌ 大规模爬取、自动化抓取\n❌ 用于侵犯他人著作权、肖像权、隐私权的任何用途\n❌ 二次商业转售本服务的解析结果\n\n## 调用即同意《用户协议与免责声明》\n完整协议：如下免责申明\n侵权投诉：1790643379@qq.com\n```",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 10,
          "point_cost": 0,
          "qps_limit": 3,
          "daily_free_limit": 20,
          "no_key_daily": 5
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/video-parse",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/video-parse/raw.md",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "待解析的视频/图文链接。支持完整 URL 或分享短链（如 v.douyin.com/xxx、vm.tiktok.com/xxx）。最大 2048 字符",
            "schema": {
              "type": "string",
              "example": "https://www.bilibili.com/video/BV1gY411A7y7"
            },
            "example": "https://www.bilibili.com/video/BV1gY411A7y7"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "code": 200,
                    "platform": "bilibili",
                    "type": "视频",
                    "data": {
                      "title": "100小时安娜的睡针，献给所有守望玩家",
                      "video_url": "https://upos-sz-mirrorhw.bilivideo.com/upgcxcode/.../xxx.mp4",
                      "cover_url": "http://i0.hdslb.com/bfs/archive/xxx.jpg",
                      "audio_url": "",
                      "imagelist": []
                    },
                    "stats": {
                      "author_name": "AIX5E",
                      "author_avatar": "https://i0.hdslb.com/bfs/face/xxx.jpg",
                      "like_count": 334,
                      "comment_count": 74,
                      "share_count": 32,
                      "play_count": 6843,
                      "collect_count": 21,
                      "publish_time": "2022-05-05 16:08:33"
                    },
                    "video_list": [
                      {
                        "quality": "原画 1080P",
                        "url": "https://...",
                        "size": "~38.01MB",
                        "resolution": "1920x1080"
                      },
                      {
                        "quality": "720P",
                        "url": "https://...",
                        "size": "~25.34MB",
                        "resolution": "1280x720"
                      },
                      {
                        "quality": "480P",
                        "url": "https://...",
                        "size": "~11.43MB",
                        "resolution": "852x480"
                      }
                    ]
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/barcode-gs1": {
      "get": {
        "operationId": "barcode_gs1",
        "summary": "商品条码查询PRO",
        "description": "官方权威的商品条码查询接口，数据直通中国物品编码中心官方注册数据库。\n与 `barcode-lookup` 定位不同：\n- 本接口**官方权威**：返回厂商注册名称、产品登记信息、上市日期、官方商品图等可追溯的官方数据\n- 本接口**仅覆盖国内注册条码**(6/690 开头)，进口商品或非注册条码会返回 found=false\n- 适合合规核验、溯源、上架审核等对数据权威性要求高的场景\n\n支持输入格式：8 / 12 / 13 / 14 位纯数字，或 16 位 AI(01) 前缀 + GTIN-14。\n\n返回数据包含：产品名称、品牌、通用名、分类（含分类编号）、规格、净含量、上市日期、厂商企业名、官方商品图、条码激活日期、产品创建日期、企业注册日期、已用天数等核心字段，部分情况下额外提供生产国、企业地址、参考售价、厂商识别代码等扩展字段。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 10,
          "point_cost": 0,
          "qps_limit": 2,
          "daily_free_limit": 20,
          "no_key_daily": 20
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/barcode-gs1",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/barcode-gs1/raw.md",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "商品条形码(8/12/13/14 位纯数字，或 16 位 AI(01) 前缀 + GTIN-14)",
            "schema": {
              "type": "string",
              "example": "6921168509256"
            },
            "example": "6921168509256"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "登录用户传 API Key 享用更高额度；匿名调用每天 20 次免费",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "barcode": "6907992700199",
                    "gtin14": "06907992700199",
                    "found": true,
                    "registered": true,
                    "registration_message": "该商品条码已经在中国物品编码中心注册，编码信息已按规定通报。",
                    "name": "伊利儿童奶酪棒香草冰淇淋味再制干酪",
                    "brand": "伊利",
                    "general_name": "奶酪（易腐坏）",
                    "feature": "伊利儿童奶酪棒香草冰淇淋味再制干酪",
                    "category": "奶酪（易腐坏）(10000028)",
                    "specification": "90克",
                    "net_content": "90克",
                    "sale_date": null,
                    "manufacturer": "内蒙古伊利实业集团股份有限公司",
                    "images": [
                      "https://www.gds.org.cn/userfile/uploada/gra/sj201210093039959369/06907992700199/06907992700199.1.jpg"
                    ],
                    "qr_active_date": null,
                    "product_create_date": "2019年11月18日",
                    "company_register_date": null,
                    "use_days": 2366,
                    "country": null,
                    "address": null,
                    "price": null,
                    "category_code": null
                  },
                  "request_id": "mp0vcq0fab827132"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/hot-baidu": {
      "get": {
        "operationId": "hot_baidu",
        "summary": "百度热搜榜",
        "description": "聚合百度搜索热榜数据，实时返回 4 大榜单的 Top 30~50 条热门内容。零成本调用，适合做内容聚合 / 热点追踪 / 资讯类产品。\n\n【支持榜单】\n- realtime（实时热搜）· 默认值，约 30~50 条\n- novel（小说）· 约 30 条，含作者\n- movie（电影）· 约 10 条，含类型\n- tv（电视剧）· 约 10 条，含演员\n\n【返回字段】\n- rank · 榜单排名\n- title · 标题\n- desc · 简短描述\n- hot_index · 热度指数（数字）\n- link · 详情链接（百度搜索）\n- image · 配图 URL（直接可用，无防盗链限制）\n- tag · 标签（如「热」「新」「沸」「爆」）\n- author / category / actors · 小说 / 电影 / 电视剧专属字段\n\n【典型场景】\n- 资讯类 App 的\"今日热点\"模块\n- AI 写作助手的\"实时热点选题\"参考\n- 数据看板 / 大屏展示\n- 微信公众号选题辅助\n- 热搜监控 / 舆情分析\n\n【调用示例】\nGET /api/hot-baidu                  · 默认实时热搜\nGET /api/hot-baidu?tab=realtime\nGET /api/hot-baidu?tab=novel\nGET /api/hot-baidu?tab=movie\nGET /api/hot-baidu?tab=tv\n\n【性能与缓存】\n- 平均响应 200ms（缓存命中时 < 50ms）\n- 后端 60 秒缓存（百度榜单本身分钟级更新，短缓存合理且节省调用方资源）\n\n【⚠️ 数据来源说明】\n本接口数据来源于百度搜索热榜公开页面（top.baidu.com），仅用于个人开发测试与小规模商业场景；如需大规模商业使用建议自建抓取或采购官方 API。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 10000,
          "no_key_daily": 1000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/hot-baidu",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/hot-baidu/raw.md",
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "required": false,
            "description": "榜单类型：realtime（实时热搜，默认）/ novel（小说）/ movie（电影）/ tv（电视剧）",
            "schema": {
              "type": "string",
              "example": "realtime"
            },
            "example": "realtime"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "可选 API Key 鉴权。未登录每天 50 次免费体验额度；登录用户更高额度且无需 IP 限制",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "tab": "realtime",
                    "update_time": "2026-05-06 07:15:00",
                    "total": 30,
                    "list": [
                      {
                        "rank": 1,
                        "title": "总书记对青年学子的殷切期待",
                        "desc": "坚定不移走中国特色社会主义道路...",
                        "hot_index": 4982315,
                        "link": "https://www.baidu.com/s?wd=%E6%80%BB%E4%B9%A6%E8%AE%B0%E5%AF%B9%E9%9D%92%E5%B9%B4...",
                        "image": "https://fyb-2.cdn.bcebos.com/hotboard_image/ced2dbd68e9ca16f8fc405530a0a3a5d?x-bce-process=image/resize,m_fill,w_256,h_170",
                        "tag": "热"
                      },
                      {
                        "rank": 2,
                        "title": "...",
                        "desc": "...",
                        "hot_index": 3500000,
                        "link": "https://www.baidu.com/s?wd=...",
                        "image": "https://fyb-2.cdn.bcebos.com/hotboard_image/...",
                        "tag": "新"
                      }
                    ]
                  },
                  "request_id": "mqx8x12345abc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/barcode-lookup": {
      "get": {
        "operationId": "barcode_lookup",
        "summary": "商品条码查询-免费版",
        "description": "通过商品条形码（EAN-13 / UPC-A / UPC-E / EAN-8）一键查询商品信息，覆盖国内日常消费品超千万 SKU，包括食品饮料、日用百货、个护美妆、酒水烟草、母婴用品等。\n\n【核心字段】\n- name 商品名称\n- brand 品牌\n- manufacturer 生产厂商 / 经销商\n- spec 规格（如 550ml / 250g / 6 听装）\n- price 参考价（人民币元，仅作参考非实时市场价）\n- image 商品图片 URL（自有 CDN 代理，跨域友好）\n\n【典型场景】\n- 电商 / 零售 ERP：扫码录入商品自动补全字段\n- 个人记账 App：扫码识物展示购物明细\n- 物流仓储：条码核销 + 商品图展示\n- 自动售货机：条码识别后获取商品名称\n- 营销活动：用户扫码核销福利时验证商品\n\n【调用示例】\nGET /api/barcode-lookup?barcode=6921168509256\n\n【特别说明】\n- 平均响应 100ms（不含图片下载）\n- 国内主流商品（农夫山泉、可口可乐、康师傅、伊利等）覆盖率 > 95%\n- 个别冷门 / 新上市 SKU 可能未收录，此时 found=false\n- price 字段仅作参考，非各电商平台实时价格\n- image 字段始终返回有效 URL（接图片 onError 即可降级到默认图标）\n\n【⚠️ 注意】\n图片资源为公开懒加载代理，不计入接口调用次数；商品文本数据为按次计费。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 2,
          "daily_free_limit": 200,
          "no_key_daily": 20
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/barcode-lookup",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/barcode-lookup/raw.md",
        "parameters": [
          {
            "name": "barcode",
            "in": "query",
            "required": true,
            "description": "8~13 位纯数字条形码。支持 EAN-13、UPC-A、EAN-8、UPC-E 等主流标准。",
            "schema": {
              "type": "string",
              "example": "6921168509256"
            },
            "example": "6921168509256"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "保留参数：mode=image 时返回该商品的图片二进制（不计费、公开访问，主要由响应中的 image 字段链接自动调用）。",
            "schema": {
              "type": "string",
              "example": "image"
            },
            "example": "image"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "可选 API Key 鉴权。未登录每天有 20 次免费体验额度；登录用户每天 200 次免费",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "barcode": "6921168509256",
                    "found": true,
                    "name": "农夫山泉 饮用天然水550ml",
                    "brand": "农夫山泉",
                    "manufacturer": "农夫山泉股份有限公司",
                    "spec": "550ml",
                    "price": 1.5,
                    "category": null,
                    "description": null,
                    "image": "https://v1.apizero.cn/api/barcode-lookup?mode=image&barcode=6921168509256"
                  },
                  "request_id": "mqx8x12345abc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/weather": {
      "get": {
        "operationId": "weather",
        "summary": "彩云天气",
        "description": "基于彩云天气 v2.6 的全功能天气接口，覆盖：\n  • 实时天气（温度/湿度/风/能见度/AQI/PM2.5）\n  • 分钟级降水预报（未来 2 小时）\n  • 小时预报（最长 360 小时 = 15 天）\n  • 天预报（最长 15 天，含日出日落、温度极值、生活指数）\n  • 综合数据（一次返回全部 + 气象预警）\n\n特色：\n  • 支持城市名直接查询（内置 ~140 个常用中国城市表 + Open-Meteo 兜底，无需高德/百度 Key）\n  • 自动中文化：skycon 转中文、风向转 16 方位、风速转蒲福风级、AQI 转等级颜色\n  • 预警标准化：从原始 title 提取颜色（蓝/黄/橙/红）和级别（一般/较重/严重/特别严重）\n  • 顶层 summary 字段提供\"一眼看懂\"的实时摘要",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 2000,
          "no_key_daily": 100
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/weather",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/weather/raw.md",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "查询类型：realtime / minutely / hourly / daily / weather（默认 weather 综合）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "城市/地区名称（如「北京」「朝阳区」），与 location 二选一",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "经纬度坐标，格式 经度,纬度（如 116.3975,39.9085），优先级高于 city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alert",
            "in": "query",
            "required": false,
            "description": "是否包含气象预警，true/false，默认 true（仅 realtime/weather 生效）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "天预报步长，1~15，默认 5（仅 daily/weather 生效）",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "小时预报步长，1~360，默认 24（仅 hourly/weather 生效）",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "description": "API Key（不传走匿名额度）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "type": "weather",
                    "location": {
                      "city": "北京",
                      "longitude": 116.4074,
                      "latitude": 39.9042,
                      "timezone": "Asia/Shanghai"
                    },
                    "server_time": "2026-05-06 08:43:01",
                    "forecast_keypoint": "未来两小时不会下雨，放心出门",
                    "summary": {
                      "skycon": "小雨",
                      "skycon_emoji": "🌦️",
                      "skycon_code": "LIGHT_RAIN",
                      "temperature": 21.5,
                      "apparent_temperature": 21.8,
                      "humidity_percent": 55,
                      "cloudrate_percent": 100,
                      "visibility_km": 20.3,
                      "wind": {
                        "speed_ms": 3.7,
                        "direction_deg": 239.9,
                        "direction_text": "西南偏南风",
                        "level": 3,
                        "level_text": "微风"
                      },
                      "air_quality": {
                        "aqi": 68,
                        "level": "良",
                        "level_color": "yellow",
                        "pm25": 27
                      },
                      "alert_count": 1
                    },
                    "alerts": [
                      {
                        "title": "东城区气象台发布大风蓝色预警[IV/一般]",
                        "description": "预计 6 日早晨至午后...有 3-4 级偏北风，阵风 6-7 级...",
                        "color": "蓝色",
                        "level": "一般",
                        "status": "预警中",
                        "province": "北京市",
                        "city": "北京城区",
                        "county": "东城区",
                        "pub_time": "2026-05-05 16:46:00",
                        "source": "国家预警信息发布中心",
                        "alert_id": "11010141600000_..."
                      }
                    ],
                    "realtime": "...（彩云原始 realtime 字段，详见上方字段说明）",
                    "minutely": "...（type=weather 才有）",
                    "hourly": "...（type=weather 才有）",
                    "daily": "...（type=weather 才有）"
                  },
                  "request_id": "mota..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/whois": {
      "get": {
        "operationId": "whois",
        "summary": "Whois 域名查询",
        "description": "查询域名注册信息（注册商 / 注册主体 / 创建时间 / 到期时间 / DNS 服务器 / 域名状态 / DNSSEC 等）。\n\n• **支持所有主流 TLD**：.com / .cn / .net / .org / .io / .me / .top / .xyz 等几乎所有 ICANN 认证后缀\n• **自动归一化**：传入 `https://www.baidu.com/abc` 会自动剥离为 `baidu.com`\n• **域名可用性检测**：未注册域名返回 is_available=true，可用于域名抢注前查询\n• **到期告警**：30 天内到期返回 expiring_soon=true，便于前端高亮提示\n• **域龄展示**：creation_age_text 返回「N 年 M 月」人类可读字符串\n• **国内 .cn 主体中文**：whoiscx 上游对国内域名返回中文注册主体名（如「极数本源（福州）科技有限公司」）\n• **缓存 24h**：whois 数据年级变化，全天同一域名查询只调 1 次上游\n• **修复源码 BUG**：错误响应字段是 `error` 不是 `message`，源码取错丢失了上游真实错误",
        "tags": [
          "dev"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 1000,
          "no_key_daily": 300
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/whois",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/whois/raw.md",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "待查询域名。自动剥离 http(s):// 前缀、路径、:port 后缀、子域名（如 www.baidu.com → baidu.com 由上游处理）",
            "schema": {
              "type": "string",
              "example": "baidu.com"
            },
            "example": "baidu.com"
          },
          {
            "name": "with_raw",
            "in": "query",
            "required": false,
            "description": "是否返回 raw_whois 原始 whois 文本（约 3KB），默认 false。建议仅调试时启用",
            "schema": {
              "type": "boolean",
              "example": "false"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "domain": "baidu.com",
                    "suffix": "com",
                    "is_available": false,
                    "is_expired": false,
                    "expiring_soon": false,
                    "registrar": "MarkMonitor Information Technology (Shanghai) Co., Ltd.",
                    "registrant": "",
                    "registrant_email": "",
                    "creation_time": "1999-10-11 19:05:17",
                    "expiration_time": "2028-10-11 19:05:17",
                    "creation_days": 9704,
                    "creation_age_text": "26 年 7 个月",
                    "valid_days": 888,
                    "domain_status": [
                      "clientDeleteProhibited （注册商设置禁止删除）",
                      "clientTransferProhibited （注册商设置禁止转移）"
                    ],
                    "name_servers": [
                      "NS1.BAIDU.COM",
                      "NS2.BAIDU.COM",
                      "NS3.BAIDU.COM"
                    ],
                    "whois_server": "whois.markmonitor.com",
                    "dnssec": "unsigned",
                    "registrar_url": "http://markmonitor.com",
                    "registrar_abuse_email": "abusecomplaints@markmonitor.com",
                    "registrar_abuse_phone": "+1.2083895740",
                    "query_time": "2026-05-07 09:18:54"
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/movie-box": {
      "get": {
        "operationId": "movie_box",
        "summary": "实时电影票房",
        "description": "实时获取猫眼当日电影票房 Top 10，包含累计票房、实时票房、票房占比、排片占比、上座率等核心指标。数据来源猫眼专业版，按 60 秒缓存。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 20000,
          "no_key_daily": 1000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/movie-box",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/movie-box/raw.md",
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "description": "API Key（不传走匿名额度）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "update_time": "2026-05-06 07:30:00",
                    "total": 10,
                    "list": [
                      {
                        "rank": 1,
                        "name": "消失的人",
                        "release_days": "上映6天",
                        "total_box": "2.66亿",
                        "box_office": 163.25,
                        "box_rate": 35.5,
                        "show_rate": 28.8,
                        "seat_rate": 33
                      },
                      {
                        "rank": 2,
                        "name": "给阿嬷的情书",
                        "release_days": "上映7天",
                        "total_box": "6205.9万",
                        "box_office": 98.85,
                        "box_rate": 21.5,
                        "show_rate": 7.3,
                        "seat_rate": 6.1
                      }
                    ]
                  },
                  "request_id": "mot9..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/ip-pro": {
      "get": {
        "operationId": "ip_pro",
        "summary": "IP 地址查询（街道级）",
        "description": "IP 地理位置查询，精确到街道级。多数据源自动切换：主源提供街道 + ISP + 风险评分，主源不可用时自动降级到备用源（城市级 + ISP）。响应 data.source 字段标识本次数据档位。",
        "tags": [
          "geo"
        ],
        "x-pricing": {
          "mode": 14,
          "point_cost": 5,
          "qps_limit": 3,
          "daily_free_limit": 30,
          "no_key_daily": 5
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/ip-pro",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/ip-pro/raw.md",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "要查询的 IP 地址（IPv4 或 IPv6）。不传时自动使用调用方自身 IP，适用于\"查我自己\"",
            "schema": {
              "type": "string",
              "example": "110.87.41.14"
            },
            "example": "110.87.41.14"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer Token。匿名调用时可省略（受每日免费额度限制）；付费方案或超过免费额度时必需",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "ip": "117.25.49.203",
                    "continent": "亚洲",
                    "country": "中国",
                    "country_code": "CN",
                    "province": "福建",
                    "city": "福州",
                    "district": "永泰",
                    "street": "城峰镇",
                    "street_alternatives": [
                      "福建福州永泰城峰镇",
                      "福建福州永泰大洋镇"
                    ],
                    "area_code": "350125",
                    "zip_code": "350000",
                    "city_code": "0591",
                    "latitude": 25.855039,
                    "longitude": 118.94202,
                    "elevation": 29,
                    "time_zone": "Asia/Shanghai",
                    "isp": "电信",
                    "risk": {
                      "level": "无风险",
                      "score": 0,
                      "is_proxy": false,
                      "proxy_probability": 0,
                      "real_rate": 6,
                      "mobile_rate": 4.69
                    },
                    "source": "primary"
                  },
                  "request_id": "abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/shici": {
      "post": {
        "operationId": "shici",
        "summary": "随机诗词",
        "description": "随机返回一首古诗词，支持按 10 种主题筛选（抒情/四季/山水/天气/人物/生活/节日/动物/植物/食物）。",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 50,
          "no_key_daily": 30
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/shici",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/shici/raw.md",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "shuqing/siji/shanshui/tianqi/renwu/shenghuo/jieri/dongwu/zhiwu/shiwu"
                  },
                  "action": {
                    "type": "string",
                    "description": "'types' 返回类型列表（不消耗调用额度）"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/exchange-rate": {
      "get": {
        "operationId": "exchange_rate",
        "summary": "实时汇率查询",
        "description": "实时汇率查询，支持 26 种主流货币（CNY/USD/EUR/GBP/JPY 等）一键互转。数据 1 分钟级更新，毫秒响应，免费且无需注册即可调用。\n\n基于 ALAPI 汇率源，覆盖人民币、美元、欧元、英镑、日元、港币、韩元、澳元、加元、新加坡元、瑞士法郎、新台币、泰铢、马来西亚林吉特、俄罗斯卢布、印度卢比、巴西雷亚尔、南非兰特、新西兰元、瑞典/挪威/丹麦克朗、菲律宾比索、印尼盾、越南盾、阿联酋迪拉姆等。\n\n支持「同币种快路径」（from=to 时本地直接返回，0 上游消耗），以及「货币列表查询」action=currencies 子命令（返回支持的全部 26 种货币代码与中文名）。",
        "tags": [
          "finance"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 200,
          "no_key_daily": 50
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/exchange-rate",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/exchange-rate/raw.md",
        "parameters": [
          {
            "name": "money",
            "in": "query",
            "required": false,
            "description": "要转换的金额，必须 > 0；缺省 1",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "源货币代码（ISO 4217 三字母），如 CNY、USD、EUR；缺省 CNY",
            "schema": {
              "type": "string",
              "example": "CNY"
            },
            "example": "CNY"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "目标货币代码（ISO 4217 三字母），如 USD、JPY；缺省 USD",
            "schema": {
              "type": "string",
              "example": "USD"
            },
            "example": "USD"
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "传 \"currencies\" 直接返回 26 种支持货币列表（不调上游、不计费）",
            "schema": {
              "type": "string",
              "example": "currencies"
            },
            "example": "currencies"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "API Key 鉴权头，格式 Bearer sk_live_xxx；匿名调用时可省略（每日 50 次免费）",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "money": 1,
                    "from": "CNY",
                    "from_name": "人民币",
                    "to": "USD",
                    "to_name": "美元",
                    "rate": 0.146405,
                    "result": 0.1464,
                    "update_time": "2026-05-06 13:00:02"
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/company-search": {
      "get": {
        "operationId": "company_search",
        "summary": "企业工商信息查询",
        "description": "通过企业名称关键词查询工商信息，返回前 5 条最匹配结果（按上游评分排序）。覆盖企业全称、法人、注册资本、统一社会信用代码、经营范围、注册地、联系方式等核心字段。数据来自天眼查权威工商数据库，6 小时缓存。",
        "tags": [
          "kyc"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 500,
          "no_key_daily": 20
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/company-search",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/company-search/raw.md",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "企业名称关键词，2~50 个字符（如「腾讯科技」「阿里巴巴」）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "description": "API Key（不传走匿名额度）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "keyword": "腾讯科技",
                    "total": 20,
                    "list": [
                      {
                        "id": 1466562059,
                        "name": "广州腾讯科技有限公司",
                        "logo": "https://img5.tianyancha.com/logo/lll/...",
                        "english_name": "Guangzhou Tencent Technology Co., Ltd.",
                        "history_names": "",
                        "legal_person": "邬红波",
                        "establish_time": "2014-12-31",
                        "reg_capital": "7000万人民币",
                        "reg_status": "存续",
                        "credit_code": "91440101327598294H",
                        "business_scope": "电子;通信与自动控制技术研究...",
                        "reg_location": "广州市海珠区新港中路397号...",
                        "phone": "020-81167888",
                        "email": "service@tencent.com",
                        "category": "研究和试验发展",
                        "city": "广州市",
                        "district": "海珠区",
                        "company_org_type": "有限责任公司",
                        "match_field": "股东信息"
                      }
                    ]
                  },
                  "request_id": "mota..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/riddle": {
      "post": {
        "operationId": "riddle",
        "summary": "谜语大全",
        "description": "谜语接口，支持随机一条、分页列表、类型列表三种模式（action=random/list/types）。",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 50,
          "no_key_daily": 30
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/riddle",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/riddle/raw.md",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "'random'(默认)/'list'/'types'"
                  },
                  "type": {
                    "type": "string",
                    "description": "[list] 谜语类型，小写字母"
                  },
                  "page": {
                    "type": "string",
                    "description": "[list] 页码，正整数，默认 1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/brain-teaser": {
      "get": {
        "operationId": "brain_teaser",
        "summary": "脑筋急转弯",
        "description": "从 4500+ 条本地题库随机返回一条脑筋急转弯，包含题目和答案。零上游依赖，毫秒级返回，适合聊天机器人、APP 互动模块。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 20,
          "daily_free_limit": 200000,
          "no_key_daily": 10000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/brain-teaser",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/brain-teaser/raw.md",
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "question": "什么动物最爱贴在墙上？",
                    "answer": "海报。",
                    "total_pool": 4500
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/qq": {
      "get": {
        "operationId": "qq",
        "summary": "QQ 信息",
        "description": "通过 QQ 号查询昵称、QQ 邮箱、QQ 空间链接，并生成 4 种尺寸的头像直链 URL（s40/s100/s140/s640）。\n\n• 严格 5-11 位数字校验（防上游字符串截断引起的号码错位）\n• 安全增强：上游返回的 QQ key 必须与请求严格一致，否则视为未查询到\n• 错误兼容：自动识别上游错误响应（_Callback({error:...})）和正常响应（portraitCallBack(...)）\n• 编码兜底：腾讯接口历史输出 GBK 含中文昵称时自动转 UTF-8\n• 多尺寸头像：avatars 对象内含 s40/s100/s140/s640 四种尺寸 URL，前端 `<img src={data.avatars.s640}>` 直接用",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 30000,
          "no_key_daily": 5000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/qq",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/qq/raw.md",
        "parameters": [
          {
            "name": "qq",
            "in": "query",
            "required": true,
            "description": "5-11 位 QQ 号码（纯数字）",
            "schema": {
              "type": "string",
              "example": "88888888"
            },
            "example": "88888888"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "API Key 鉴权头，格式 Bearer sk_live_xxx；匿名调用时可省略（每日 50 次免费）",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "qq": "88888888",
                    "name": "腾讯客服",
                    "mail": "88888888@qq.com",
                    "qzone": "https://user.qzone.qq.com/88888888",
                    "avatars": {
                      "s40": "https://q1.qlogo.cn/g?b=qq&nk=88888888&s=40",
                      "s100": "https://q1.qlogo.cn/g?b=qq&nk=88888888&s=100",
                      "s140": "https://q1.qlogo.cn/g?b=qq&nk=88888888&s=140",
                      "s640": "https://q1.qlogo.cn/g?b=qq&nk=88888888&s=640"
                    },
                    "is_found": true
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/wzry": {
      "get": {
        "operationId": "wzry",
        "summary": "王者战力查询",
        "description": "王者荣耀全国战力查询，一接口聚合「英雄列表 + 区服战力分布」2 大功能。\n\n• action=heroes — 返回 130+ 个英雄完整目录（中文名 / ename / 称号 / 头像 URL），优先腾讯官方源 https://pvp.qq.com/web201605/js/herolist.json\n\n• action=query — 查询某英雄在某区服的全国战力分布数据，返回 90 条左右的省市区战力榜（含同地区相近排名）\n\n支持 4 大区服：\n  · aqq = Android QQ\n  · awx = Android 微信\n  · iqq = iOS QQ\n  · iwx = iOS 微信\n\n查询类型：\n  · all = 完整 heroList（按 level 混合排列，约 90 项）\n  · min = 各级（省/市/区）最低战力 + 相近排名（rank ≤ +100）\n  · max = 各级（省/市/区）最高战力 + 相近排名",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 200,
          "no_key_daily": 50
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/wzry",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/wzry/raw.md",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "操作类型：heroes=英雄列表 / query=战力查询",
            "schema": {
              "type": "string",
              "example": "query"
            },
            "example": "query"
          },
          {
            "name": "hero",
            "in": "query",
            "required": false,
            "description": "英雄中文名（如「赵云」）；action=query 时与 hero_id 二选一必传",
            "schema": {
              "type": "string",
              "example": "赵云"
            },
            "example": "赵云"
          },
          {
            "name": "hero_id",
            "in": "query",
            "required": false,
            "description": "英雄 ename（如赵云=107）；action=query 时与 hero 二选一必传，hero_id 优先级更高",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "description": "区服代码：aqq=Android QQ / awx=Android 微信 / iqq=iOS QQ / iwx=iOS 微信；action=query 必填",
            "schema": {
              "type": "string",
              "example": "aqq"
            },
            "example": "aqq"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "返回类型：all=完整列表（默认）/ min=最低战力 / max=最高战力",
            "schema": {
              "type": "string",
              "example": "all"
            },
            "example": "all"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "API Key 鉴权头，格式 Bearer sk_live_xxx；匿名调用时可省略（每日 50 次免费）",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "action": "query",
                    "hero": {
                      "name": "赵云",
                      "title": "苍天翔龙",
                      "ename": "107",
                      "avatar": "https://game.gtimg.cn/images/yxzj/img201606/heroimg/107/107.jpg"
                    },
                    "zone": {
                      "code": "aqq",
                      "system": "Android",
                      "platform": "QQ"
                    },
                    "type": "最低战力",
                    "type_code": "min",
                    "syn_date": "2026-05-06",
                    "rank_data": {
                      "extreme": {
                        "province": {
                          "address": "云南",
                          "level": "province",
                          "rank": 4500,
                          "adcode": "..."
                        },
                        "city": {
                          "address": "海南/三亚市",
                          "level": "city",
                          "rank": 1800,
                          "adcode": "..."
                        },
                        "district": {
                          "address": "北京/朝阳区",
                          "level": "district",
                          "rank": 800,
                          "adcode": "..."
                        }
                      },
                      "similar": {
                        "province": [
                          {
                            "address": "云南",
                            "rank": 4500
                          },
                          {
                            "address": "甘肃",
                            "rank": 4520
                          }
                        ],
                        "city": [],
                        "district": []
                      }
                    }
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/gold": {
      "get": {
        "operationId": "gold",
        "summary": "黄金价格查询",
        "description": "实时黄金价格聚合查询，一次返回三大维度的金价数据：\n\n• 国际黄金报价（4 项）：国际金价、国际铂金、国际银价、国际钯金，含最新价 / 涨跌额 / 涨跌幅 / 最高价 / 最低价 / 报价时间\n\n• 国内黄金报价（7 项）：国内金价、国内银价、投资金条、黄金回收价格、铂金回收价格、18K 金回收价格、钯金回收价格\n\n• 十大品牌金店金价（17 家）：内地周大福、周生生、六福珠宝、老凤祥、老庙黄金、中国黄金、周六福、菜百、明牌珠宝、潮宏基等十大品牌的当日黄金 / 铂金 / 金条价格（元/克）\n\n通过参数 type 可只取某一类（all=全部，brand=品牌金店，international=国际，domestic=国内）。\n\n基于 huangjinjiage.cn 数据源，已修复源码 GBK 编码乱码 bug，内建 10 分钟缓存。",
        "tags": [
          "finance"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 200,
          "no_key_daily": 50
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/gold",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/gold/raw.md",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "返回类型：all=全部（默认）/ brand=品牌金店 / international=国际黄金 / domestic=国内黄金",
            "schema": {
              "type": "string",
              "example": "all"
            },
            "example": "all"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "API Key 鉴权头，格式 Bearer sk_live_xxx；匿名调用时可省略（每日 50 次免费）",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxx"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "update_time": "2026-05-06 15:30:00",
                    "source": "huangjinjiage.cn",
                    "type": "all",
                    "international": [
                      {
                        "name": "国际金价",
                        "price": "4647.3",
                        "change": "7.19",
                        "percent": "0.39%",
                        "high": "1828.34",
                        "low": "1815.50",
                        "time": "2026-5-6"
                      },
                      {
                        "name": "国际银价",
                        "price": "75.28",
                        "change": "0.21",
                        "percent": "0.91%",
                        "high": "23.24",
                        "low": "22.78",
                        "time": "2026-5-6"
                      }
                    ],
                    "domestic": [
                      {
                        "name": "国内金价",
                        "price": "1022.9",
                        "change": "2.08",
                        "percent": "0.56%",
                        "high": "375",
                        "low": "372.76",
                        "time": "2026-5-6"
                      }
                    ],
                    "brand": [
                      {
                        "brand": "内地周大福",
                        "gold_price": "1413",
                        "pt_price": "-",
                        "bar_price": "1239",
                        "unit": "元/克",
                        "time": "2026-5-6"
                      }
                    ]
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/content-moderation": {
      "post": {
        "operationId": "content_moderation",
        "summary": "内容审核",
        "description": "基于「敏感词库 + 正则规则 + AI 特征评分」三重策略检测文本中的色情 / 政治 / 广告 / 联系方式 / 引流 / 谩骂 6 大类敏感内容。识别变体绕过（谐音、拼音、符号替换），输出 safe/low/medium/high 风险等级，可选自动脱敏。",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 500,
          "no_key_daily": 100
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/content-moderation",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/content-moderation/raw.md",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "操作：moderate（默认）/ batch / categories",
                    "example": "moderate"
                  },
                  "text": {
                    "type": "string",
                    "description": "待审核文本（仅 action=moderate 用），1-5000 字",
                    "example": "今天天气不错"
                  },
                  "texts": {
                    "type": "array",
                    "description": "批量文本（仅 action=batch 用），最多 50 条",
                    "example": "[\"文本1\", \"文本2\"]"
                  },
                  "mask": {
                    "type": "boolean",
                    "description": "是否返回脱敏文本，默认 false",
                    "example": "true"
                  }
                },
                "required": [
                  "text"
                ]
              },
              "example": {
                "action": "moderate",
                "text": "今天天气不错",
                "texts": "[\"文本1\", \"文本2\"]",
                "mask": "true"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "is_pass": false,
                    "risk_level": "high",
                    "categories": [
                      "谩骂"
                    ],
                    "details": [
                      {
                        "category": "谩骂",
                        "method": "敏感词",
                        "matches": [
                          "傻逼",
                          "脑残"
                        ],
                        "count": 2
                      }
                    ],
                    "masked_text": "你这个**，**吧",
                    "original_length": 10
                  },
                  "request_id": "abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/hitokoto": {
      "get": {
        "operationId": "hitokoto",
        "summary": "一言 · 经典语录",
        "description": "从 370+ 条经典语录库（动漫/漫画/游戏/文学/影视/诗词/哲学/网络等 12 类）随机返回一条，含原文、出处、作者、分类、字数。支持按分类与长度筛选。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 20,
          "daily_free_limit": 500000,
          "no_key_daily": 200000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/hitokoto",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/hitokoto/raw.md",
        "parameters": [
          {
            "name": "c",
            "in": "query",
            "required": false,
            "description": "分类单字母 a-l（不传则全类别随机）",
            "schema": {
              "type": "string",
              "example": "i"
            },
            "example": "i"
          },
          {
            "name": "min_length",
            "in": "query",
            "required": false,
            "description": "最小字符数",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_length",
            "in": "query",
            "required": false,
            "description": "最大字符数",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "id": 1234,
                    "hitokoto": "落霞与孤鹜齐飞，秋水共长天一色。",
                    "type": "i",
                    "type_name": "诗词",
                    "from": "滕王阁序",
                    "from_who": "王勃",
                    "length": 16,
                    "total_pool": 370
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/baby-naming": {
      "post": {
        "operationId": "baby_naming",
        "summary": "八字起名",
        "description": "输入父母姓氏与出生时间，基于「八字五行 + 五格数理 + 三才配置」综合评分生成高分名字候选，附寓意标签与全国重名预估。三个 action：naming（智能起名）/ duplicate（重名查询）/ bazi（八字查询）。内置 396 姓氏笔画 + 175 起名字 + 88 姓人口。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 2,
          "daily_free_limit": 5000,
          "no_key_daily": 3000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/baby-naming",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/baby-naming/raw.md",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "naming（默认）/ duplicate / bazi"
                  },
                  "surname": {
                    "type": "string",
                    "description": "naming/duplicate 必填；姓氏（≤ 2 字）",
                    "example": "王"
                  },
                  "mother_surname": {
                    "type": "string",
                    "description": "母姓（仅 naming，可选；填写则生成双姓名）"
                  },
                  "birth_year": {
                    "type": "number",
                    "description": "naming/bazi 必填；2000-2100",
                    "example": "2026"
                  },
                  "birth_month": {
                    "type": "number",
                    "description": "naming/bazi 必填；1-12",
                    "example": "5"
                  },
                  "birth_day": {
                    "type": "number",
                    "description": "naming/bazi 必填；1-31",
                    "example": "10"
                  },
                  "birth_hour": {
                    "type": "number",
                    "description": "出生时辰；0-23，默认 12"
                  },
                  "gender": {
                    "type": "string",
                    "description": "性别偏好：male/female/neutral，默认 neutral"
                  },
                  "count": {
                    "type": "number",
                    "description": "返回名字数量；1-30，默认 10"
                  },
                  "name": {
                    "type": "string",
                    "description": "duplicate 必填；要查的名字（不含姓）",
                    "example": "梓涵"
                  }
                },
                "required": [
                  "surname"
                ]
              },
              "example": {
                "surname": "王",
                "birth_year": "2026",
                "birth_month": "5",
                "birth_day": "10",
                "name": "梓涵"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "bazi": {
                      "八字": "丙午癸巳辛未癸巳",
                      "四柱": [
                        "丙午",
                        "癸巳",
                        "辛未",
                        "癸巳"
                      ],
                      "日主": "金"
                    },
                    "wu_xing_analysis": {
                      "五行分布": {
                        "金": 1,
                        "木": 0,
                        "水": 2,
                        "火": 4,
                        "土": 1
                      },
                      "五行缺失": [
                        "木"
                      ],
                      "建议补充": [
                        "木"
                      ]
                    },
                    "needed_wuxing": [
                      "木"
                    ],
                    "names": [
                      {
                        "name": "王梓森",
                        "surname": "王",
                        "given_name": "梓森",
                        "score": 95,
                        "wuge": {
                          "天格": 5,
                          "人格": 15,
                          "地格": 23,
                          "外格": 16,
                          "总格": 27
                        },
                        "wuge_score": 88,
                        "wuxing_chars": "木+木",
                        "meaning_tags": [
                          "栋梁",
                          "繁盛"
                        ],
                        "duplicate_rate": {
                          "estimated_count": 320,
                          "level": "较低",
                          "description": "..."
                        }
                      }
                    ]
                  },
                  "request_id": "abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/image-enhance": {
      "post": {
        "operationId": "image_enhance",
        "summary": "AI 图片变清晰",
        "description": "基于先进 AI 超分辨率算法的图片高清化服务。输入一张模糊 / 低分辨率图片 URL，约 4 秒内返回 4 倍超分辨率的高清版本（如 300×300 → 1200×1200），支持 JPEG / PNG / WebP / BMP 等主流格式。\n\n【核心能力】\n- 4 倍超分辨率（最大边自动放大约 4 倍）\n- 自动去噪 / 去糊 / 锐化细节\n- 保留原图色彩与构图\n- 适合老照片修复、缩略图放大、低质截图增强、网络图片优化\n- 输出 JPEG 高质量（HD 模式）\n\n【典型场景】\n- 电商：商品低清图自动高清化\n- 自媒体：老照片 / 截图修复用于配图\n- 设计：素材尺寸不够时快速放大\n- 视频缩略图、社交头像高清化\n- 旧扫描件 / 截屏文字增强\n\n【调用示例】\nPOST /api/image-enhance\nContent-Type: application/x-www-form-urlencoded\n\nimg=https://example.com/your-blurry-image.jpg\n\n【⚠️ 输入限制】\n- 必须是 **公网可访问** 的 http/https URL（私有 OSS 链接需先签名）\n- 文件大小 ≤ 10 MB\n- 支持格式：JPEG / PNG / WebP / BMP\n\n【⚠️ 输出说明】\n- 返回的 enhanced_url 为平台代理 URL（自有域名，跨域友好）\n- 实际图片在 6 小时内有效，请尽快下载保存\n- 平均响应 4~6 秒，复杂图片可能需要 10~30 秒\n\n【计费说明】\n登录用户每日 10 次免费体验，超出按点数扣费（详见控制台）。",
        "tags": [
          "ai"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 1,
          "daily_free_limit": 10,
          "no_key_daily": 0
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/image-enhance",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/image-enhance/raw.md",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "img": {
                    "type": "string",
                    "description": "待增强的图片 URL，必须是公网可访问的 http/https 地址；文件 ≤ 10 MB；JPEG / PNG / WebP / BMP 格式",
                    "example": "https://example.com/blurry-photo.jpg"
                  }
                },
                "required": [
                  "img"
                ]
              },
              "example": {
                "img": "https://example.com/blurry-photo.jpg"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "API Key 鉴权（在控制台申请）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "description": "使用 form-urlencoded 或 JSON body 都可",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "original_url": "https://example.com/blurry-photo.jpg",
                    "enhanced_url": "https://v1.apizero.cn/api/image-enhance?mode=image&u=aHR0cHM6Ly9...&s=a1b2c3d4e5f6",
                    "width": 1200,
                    "height": 1200,
                    "expires_in": 21600
                  },
                  "request_id": "mqx8x12345abc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/tts": {
      "post": {
        "operationId": "tts",
        "summary": "TTS 语音合成",
        "description": "对接 alapi.cn 文本转语音（TTS）服务，输入文本返回 base64 编码的 MP3 音频。\n\n• **5 种音色**：女声主播 / 男声主播 / 男声说唱 / 女声四川话 / 男声低沉\n• **500 字以内**：单次请求最多 500 字符（中英文均按 1 字符计）\n• **MP3 格式**：上游返回 audio/mpeg 编码，前端可直接 `<audio src=\"data:audio/mpeg;base64,...\">` 播放\n• **便利字段**：返回 audio_data_url（拼好的 data URL）+ audio_size_bytes（解码后字节数）+ audio_format / audio_mime\n• **典型场景**：新闻播报 / 短视频配音 / 有声书 / 语音通知 / 客服 IVR\n• **不缓存**：500 字音频约 1MB，重复合成概率低，避免 Redis 内存膨胀",
        "tags": [
          "ai"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 3,
          "daily_free_limit": 30,
          "no_key_daily": 10
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/tts",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/tts/raw.md",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "待合成文本，1-500 字符（中英文均按 1 字符计）",
                    "example": "欢迎使用语音合成服务"
                  },
                  "voice_type": {
                    "type": "string",
                    "description": "音色代码。可选：female_zhubo（女声主播） / male_zhubo（男声主播） / male_rap（男声说唱） / female_sichuan（女声四川话） / male_db（男声低沉）。默认 female_zhubo",
                    "example": "female_zhubo"
                  }
                },
                "required": [
                  "text"
                ]
              },
              "example": {
                "text": "欢迎使用语音合成服务",
                "voice_type": "female_zhubo"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "API Key 鉴权头，格式 Bearer sk_live_xxx；匿名调用时可省略（每日 10 次免费）",
            "schema": {
              "type": "string",
              "example": "Bearer sk_live_xxxxxxxxxxxxxx"
            },
            "example": "Bearer sk_live_xxxxxxxxxxxxxx"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "description": "支持 application/x-www-form-urlencoded 或 application/json",
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "text": "欢迎使用语音合成服务",
                    "text_length": 10,
                    "voice_type": "female_zhubo",
                    "voice_name": "女声主播",
                    "voice_desc": "标准普通话女声，主播风格，适合资讯播报",
                    "audio": "SUQzAwAAAAAAAAAAAAAAA...（约 17000 字符 base64）",
                    "audio_format": "mp3",
                    "audio_mime": "audio/mpeg",
                    "audio_size_bytes": 12750,
                    "audio_data_url": "data:audio/mpeg;base64,SUQzAwAAAAA..."
                  },
                  "request_id": "abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/visits-counter": {
      "get": {
        "operationId": "visits_counter",
        "summary": "访问量计数器",
        "description": "SVG/JSON访问量计数器，支持多套动效主题卡片（咒纹夜/术式蓝焰/五条悟风/无量空处/宿傩咒印等），可嵌入GitHub README或网站。按站点隔离计数。",
        "tags": [
          "dev"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 10,
          "daily_free_limit": 1000,
          "no_key_daily": 500
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/visits-counter",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/visits-counter/raw.md",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "站点标识，用于区分不同来源（建议传你的域名）。不传时全局共享一个计数器。",
            "schema": {
              "type": "string",
              "example": "apizero.cn"
            },
            "example": "apizero.cn"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "计数器名称，同一站点下可挂多个不同位置（首页/产品页/文章页等）。默认 demo。",
            "schema": {
              "type": "string",
              "example": "home"
            },
            "example": "home"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "计数模式：daily=每日清零 / total=累计不清零。默认 daily。",
            "schema": {
              "type": "string",
              "example": "total"
            },
            "example": "total"
          },
          {
            "name": "theme",
            "in": "query",
            "required": false,
            "description": "主题：默认 gojo_board（像素角色举牌+数字 GIF 动画）。可选 gojo_board/hoops_board/zero_board/jjk_infinity/rule34/moebooru/gelbooru/cursed_night/seal_blue/talisman_red/void_gold/gojo_satoru/infinity_void/sukuna_mark。前 7 个为像素牌主题（角色帧动画），后 7 个为 SVG 渐变主题。",
            "schema": {
              "type": "string",
              "example": "gojo_board"
            },
            "example": "gojo_board"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "输出格式：svg（默认，可直接 <img> 嵌入网页）/ png（静态图，scale=1~4）/ json（原始 JSON 数据，便于自集成）。",
            "schema": {
              "type": "string",
              "example": "svg"
            },
            "example": "svg"
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "description": "数字位数 4~12，默认 7（前导补 0）。",
            "schema": {
              "type": "number",
              "example": "7"
            },
            "example": "7"
          },
          {
            "name": "no_increment",
            "in": "query",
            "required": false,
            "description": "只读模式：1=只查询不递增（适合预览/调试）。默认 0。",
            "schema": {
              "type": "number",
              "example": "0"
            },
            "example": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": "200",
                  "desc": "success",
                  "data": {
                    "name": "home",
                    "mode": "daily",
                    "theme": "gojo_board",
                    "theme_name": "像素牌-苍空",
                    "value": 42,
                    "display_value": "0000042",
                    "record": {
                      "total": 1024,
                      "daily": 42,
                      "day": "2026-05-09",
                      "updated_at": "2026-05-09T21:48:52+08:00"
                    },
                    "incremented": true,
                    "step": 1,
                    "length": 7,
                    "format": "json"
                  },
                  "tips": "极数本源 · https://apizero.cn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/translate": {
      "get": {
        "operationId": "translate",
        "summary": "文本翻译",
        "description": "文本翻译，支持 19 种语言互译（含粤语/文言文）。参数 q 传入文本，from/to 指定语言代码，默认中文→英文。注意使用百度系语言代码：日语 jp、韩语 kor、法语 fra。",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 5000,
          "no_key_daily": 2000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/translate",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/translate/raw.md",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "待翻译文本，最长 5000 字；兼容 text 参数名",
            "schema": {
              "type": "string",
              "example": "你好世界"
            },
            "example": "你好世界"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "源语言代码，默认 zh；见下方语言代码表",
            "schema": {
              "type": "string",
              "example": "zh"
            },
            "example": "zh"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "目标语言代码，默认 en；见下方语言代码表",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "source_text": "你好世界",
                    "target_text": "Hello World",
                    "from": "zh",
                    "to": "en",
                    "from_name": "中文（简体）",
                    "to_name": "英文",
                    "char_count": 4
                  },
                  "request_id": "abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/dns-check": {
      "get": {
        "operationId": "dns_check",
        "summary": "DNS 劫持检测",
        "description": "通过 4 家公共 DoH（DNS over HTTPS）服务器并发查询同一域名，对比解析结果检测 DNS 是否被运营商劫持、终端 hosts 篡改或遭遇异常 GeoDNS 分流。\n\n服务器列表：\n  • AliDNS（阿里云 - 中国）\n  • DNSPod（腾讯 - 中国）\n  • 360 安全 DNS（中国）\n  • Cloudflare（美国 - 在中国大陆服务器侧可能超时，会被标记为 timeout）\n\n特性：\n  • A + AAAA 记录同时查询（IPv4 / IPv6）\n  • 提取 CNAME 链路（CDN 跳转可见）\n  • TTL 信息汇总（缓存提示）\n  • 智能风险分级算法：safe / safe_with_geodns / suspicious / hijack_likely / unknown\n  • 支持各类输入：domain / https://domain / domain:port / domain/path（自动剥离）",
        "tags": [
          "dev"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 2000,
          "no_key_daily": 50
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/dns-check",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/dns-check/raw.md",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "要检测的域名（如 baidu.com，自动剥离 http(s):// 协议头与路径，最长 253 字符）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": false,
            "description": "API Key（不传走匿名额度）",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "domain": "taobao.com",
                    "input": "https://www.taobao.com/page",
                    "exec_ms": 312,
                    "summary": {
                      "status_text": "DNS 解析正常",
                      "risk_level": "safe",
                      "risk_score": 95,
                      "explain": "4 家 DoH 全部相互验证通过，未检测到劫持迹象。",
                      "cname_chain": [
                        "www.taobao.com.danuoyi.tbcache.com"
                      ],
                      "success_count": 3,
                      "total_count": 4,
                      "unique_ipv4_count": 8,
                      "unique_ipv6_count": 0
                    },
                    "unique_ipv4": [
                      "59.82.121.163",
                      "59.82.122.130",
                      "59.82.122.140",
                      "59.82.122.165",
                      "59.82.43.234",
                      "59.82.43.238",
                      "59.82.43.239",
                      "59.82.44.240"
                    ],
                    "unique_ipv6": [],
                    "servers": [
                      {
                        "key": "alidns",
                        "name": "AliDNS",
                        "status": "ok",
                        "error": null,
                        "latency_ms": 105,
                        "ipv4": [
                          "59.82.121.163",
                          "59.82.122.130",
                          "..."
                        ],
                        "ipv6": [],
                        "cname_chain": [
                          "www.taobao.com.danuoyi.tbcache.com"
                        ],
                        "ttl_min": 60
                      },
                      {
                        "key": "dnspod",
                        "name": "DNSPod",
                        "status": "ok",
                        "latency_ms": 180,
                        "ipv4": [
                          "59.82.121.163",
                          "..."
                        ]
                      },
                      {
                        "key": "china360",
                        "name": "360",
                        "status": "ok",
                        "latency_ms": 117
                      },
                      {
                        "key": "cloudflare",
                        "name": "Cloudflare",
                        "status": "timeout",
                        "error": "Operation timed out after 6000 ms",
                        "latency_ms": 6000
                      }
                    ]
                  },
                  "request_id": "mota..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/crazy-thursday": {
      "get": {
        "operationId": "crazy_thursday",
        "summary": "疯狂星期四文案",
        "description": "随机返回一段脑洞大开的 KFC「疯狂星期四」文学。内置 52 条精选文案，覆盖情感/搞笑/职场/文艺/学术/古风/悬疑/科幻/鸡汤/日常 10 个分类。支持随机、批量、分类列表与疯四倒计时。",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 20000,
          "no_key_daily": 10000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/crazy-thursday",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/crazy-thursday/raw.md",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "操作：random（默认）/ batch / categories / countdown",
            "schema": {
              "type": "string",
              "example": "random"
            },
            "example": "random"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "分类筛选（仅 random/batch 用）：情感/搞笑/职场/文艺/学术/古风/悬疑/科幻/鸡汤/日常",
            "schema": {
              "type": "string",
              "example": "搞笑"
            },
            "example": "搞笑"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "批量数量（仅 action=batch 用），1-20，默认 5",
            "schema": {
              "type": "number",
              "example": "5"
            },
            "example": "5"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "text": "我是秦始皇，我打下了万里江山，统一了六国文字和度量衡，但是我没有统一KFC疯狂星期四的价格。V朕50。",
                    "category": "搞笑",
                    "is_thursday": true,
                    "thursday_tip": "今天就是疯狂星期四！冲！"
                  },
                  "request_id": "abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/netease-comment": {
      "post": {
        "operationId": "netease_comment",
        "summary": "网易云热门乐评",
        "description": "随机返回一条网易云音乐高赞热评，含歌曲信息（标题/作者/封面/试听）和评论详情。",
        "tags": [
          "content"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 50,
          "no_key_daily": 30
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/netease-comment",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/netease-comment/raw.md",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkEnvelope"
                },
                "example": {
                  "code": 0,
                  "msg": "成功",
                  "data": {
                    "song": {
                      "title": "寂寞烟火",
                      "author": "朱婧汐Akini Jing",
                      "album": "以梦为马",
                      "image": "https://p2.music.126.net/lDlFdy62rPxCM9kSnymGQA==/6645448278712402.jpg",
                      "mp3_url": "https://v2.alapi.cn/api/music/url/token?id=29357087&timestamp=1780108420&sign=275f4cde2b0ba6aefe345a3d5ae36534",
                      "published_date": "2016-01-09 16:54:52"
                    },
                    "comment": {
                      "nickname": "麋鹿和迷雾",
                      "avatar": "",
                      "content": "走过黑暗后才明白只有自己才是自己的阳光 以后会好好生活好好爱惜自己 也会耐心等待值得的人的出现 你不需要对我愧疚我不稀罕你在电话里说的那句对我很愧疚 终于能清楚彻底的有个了断我觉得很好 不然还不知道要被你拖到什么时候 不介意孤独 比爱你舒服。",
                      "liked_count": 18057,
                      "published_date": "2016-01-09 16:54:52"
                    }
                  },
                  "request_id": "mprqlbgf64636962"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/moji-weather": {
      "get": {
        "operationId": "moji_weather",
        "summary": "墨迹天气",
        "description": "接入墨迹天气官方数据，支持全国 3 万+ 城市实况、历史天气、未来 7 天、24 小时趋势、AQI、9 项生活指数、气象预警及农历，一次调用全量返回。\n\n支持 4 种查询模式：\n- ?city=北京 · 按城市名查实况（自动模糊匹配第一个）\n- ?id=33 · 按 internal_id 直查（跳过搜索，更快）\n- ?op=search&keyword=北京 · 仅搜索城市列表，拿 id\n- ?op=history&city=北京&day=2026-05-12 · 历史天气（支持单日 / 整月）\n\n历史天气范围：\n- 当前月：返回 1 号至昨天的数据\n- 历史月（≤ 上月）：返回完整 30 天\n- 建议查近 40 天以内，过早的月份可能无数据\n\n服务端缓存策略：\n- 实况：5 分钟；历史·当月：30 分钟；历史·过去月：24 小时\n\n注意：数据由墨迹天气提供，仅供参考，不应用于农业、保险、航运、防灾等专业决策场景。\n\n联系站长：apizero.cn",
        "tags": [
          "life"
        ],
        "x-pricing": {
          "mode": 1,
          "point_cost": 0,
          "qps_limit": 5,
          "daily_free_limit": 3000,
          "no_key_daily": 1000
        },
        "x-doc-url": "https://www.apizero.cn/aidocs/moji-weather",
        "x-doc-markdown-url": "https://www.apizero.cn/aidocs/moji-weather/raw.md",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "城市中文名（支持 \"北京\" / \"大化\" / \"杭州\"）；与 id 二选一",
            "schema": {
              "type": "string",
              "example": "大化"
            },
            "example": "大化"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "城市 internal_id（可先调 ?op=search 查询）；与 city 二选一",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "op",
            "in": "query",
            "required": false,
            "description": "查询模式：search=城市搜索；history=历史天气；缺省=实况天气",
            "schema": {
[...]
